# git
.github/ export-ignore
.git export-ignore
.gitignore export-ignore
.gitattributes export-ignore

# development utilities
tox.ini export-ignore

# unittests
tests/ export-ignore

# example files
/example-*.json export-ignore
