# development dependencies
.venv*/

# linter cache
.mypy_cache/
.pytest_cache/
.ropeproject/

# python cache
__pycache__/
*.pyc
*.pyo

# Sublime Text files
*.sublime-project
*.sublime-workspace
*.thTheme.cache
