sudo: false
language: c
branches:
  except:
    - /^[0-9]+\.[0-9]+\.[0-9]$/
matrix:
  include:
    - os: linux
      dist: trusty
      language: python
      python: "3.3"
    - os: linux
      dist: bionic
      language: python
      python: "3.8"
script:
  - python dev/deps.py
  - python dev/lint.py
